.app-wrapper {
  display: grid;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 5px;
}

.content {
  grid-area: c;
  background-color: #eee;
}

.content img {
  width: 100%;
  height: 20%;
}

.item {
  color: green;
}

.app-wrapper-content {
  background-color: burlywood;
}
