.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;

  color: #a35a1f;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: blueviolet;
}

.item {
  color: #fff;
}

.messages {
  padding: 10px;
}

.message {
}
